@media print {
    /* Hide non-essential elements */
    body * {
        display: none;
    }

    /* Show only the resume content */
    body .resume {
        display: block;
    }

    /* Set page margins and size */
    @page {
        margin: 1cm;
        size: A4;
    }

}

.resume {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 12pt;
    margin-bottom: 8px;
    color: #C3B1E1;
    text-transform: uppercase;

}

h2 {
    font-size: 11pt;
    margin-bottom: 6px;
    color: #C3B1E1;

}

h3 {
    font-size: 11pt;
    margin-bottom: 6px;

}

ul li {
    font-size: 10pt;

}

ul {
    margin-bottom: 6px;
}

ul li {
    margin-bottom: 2px;
}

img {
    height: 100px;
    width: 150px;
    display: block;
}


